.showcase {
  .section-top {
    display: flex;
    justify-content: center;
    min-height: 500px;
    background: url('../../assets//graphics/main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .content {
      position: absolute;
      top: 20px;
      display: flex;
      width: 95%;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 50px;
        color: var(--secondary--color);

        &.second {
          margin-top: 15%;
        }
      }
    }

    .motto {
      position: absolute;
      bottom: -5px;
      min-width: 250px;
      min-height: 100px;
      background: url('../../assets//graphics/motto.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .section-main {
    min-height: 700px;

    h2 {
      font-size: 35px;
    }

    .react-logo {
      min-width: 370px;
      min-height: 310px;
      background: url('../../assets//graphics/react-logo.png');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 100px;
      right: 0px;
    }

    .content {
      position: absolute;
      width: 50%;
      top: 130px;
      right: 70px;

      & > div {
        background: rgba(255, 255, 255, 0.3);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
      }
    }
  }

  .section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;

    h2 {
      color: var(--text-color);
    }

    p {
      color: var(--secondary--color);
    }

    .dot {
      font-size: 40px;
      padding-left: 2px;
    }

    & > div {
      background: rgba(255, 255, 255, 0.3);
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
    }
  }

  .footer {
    text-align: center;
    border-top: var(--text-color) 1px solid;
    padding: 30px;
    margin-top: 20px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    }
  }

  /* Mobile */
  @media (max-width: 1100px) {
    .section-top {
      .content {
        top: 100px;

        .title {
          font-size: 45px;
          color: var(--secondary--color);

          &.second {
            margin-top: 10%;
          }
        }
      }

      .motto {
        bottom: 65px;
      }
    }
  }

  @media (max-width: 700px) {
    .section-top .content,
    .section-stream .react-logo,
    .section-stream .content {
      position: static;
      width: 100%;
    }

    .section-top {
      min-height: 200px;
      padding-top: 20px;

      .content {
        text-align: center;
        top: 100px;

        .title {
          font-size: 25px;
          color: var(--secondary--color);

          &.first {
            margin-bottom: 40px;
          }

          &.second {
            margin-top: 5%;
          }
        }
      }

      .motto {
        min-width: 185px;
        bottom: -80px;
      }
    }

    .section-stream {
      min-height: 400px;
    }

    .section-stream .react-logo {
      width: 50%;
      display: block;
      margin: 30px auto;
    }

    .section-grid {
      display: block;
      margin-top: 0;
    }

    .footer ul {
      display: block;
    }
  }
}
