.showcase {
  /* Section Top */
  .section-top {
    min-height: 500px;
    background: url('../../assets//graphics/main.png') no-repeat center center/cover;

    h1 {
      font-size: 70px;
      line-height: 1.3;
    }

    .content {
      position: absolute;
      top: 100px;
      right: 20px;
      width: 55%;
    }
  }

  /* Section Main */
  .section-main {
    min-height: 700px;

    h2 {
      font-size: 35px;
    }

    .play {
      width: 27%;
      position: absolute;
      top: 100px;
      left: 50px;
    }

    .content {
      position: absolute;
      width: 50%;
      top: 130px;
      right: 70px;

      & > div {
        background: rgba(255, 255, 255, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
      }
    }
  }

  /* Section Grid */
  .section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;

    h2 {
      color: var(--text-color);
    }

    p {
      color: var(--secondary--color);
    }

    .dot {
      font-size: 40px;
      padding-left: 2px;
    }

    & > div {
      background: rgba(255, 255, 255, 0.1);
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
    }
  }

  /* Footer */
  .footer {
    text-align: center;
    border-top: var(--text-color) 1px solid;
    padding: 30px;
    margin-top: 20px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    }
  }

  /* Mobile */
  @media (max-width: 700px) {
    .section-top .content,
    .section-stream .play,
    .section-stream .content {
      position: static;
      width: 100%;
    }

    .section-top {
      min-height: 200px;
      padding-top: 20px;
    }

    .section-top .content {
      text-align: center;
    }

    .section-top .content h1 {
      font-size: 45px;
    }

    .section-stream {
      min-height: 400px;
    }

    .section-stream .play {
      width: 50%;
      display: block;
      margin: 30px auto;
    }

    .section-grid {
      display: block;
      margin-top: 0;
    }

    .footer ul {
      display: block;
    }
  }
}
