@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --primary-color: #1b211f;
  --secondary--color: #e3d7bf;
  --text-color: #c5bbec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  border: 0;
  background: var(--secondary--color);
  color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.btn:hover {
  transform: scale(0.98);
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary--color);
}

.section {
  position: relative;
  padding: 0 20px;
}
