@font-face {
  font-family: 'regular-font';
  src: url(../../public/fonts/NotoSansJP-Regular.otf);
}

@font-face {
  font-family: 'bold-font';
  src: url(../../public/fonts/NotoSansJP-Bold.otf);
}

:root {
  --primary-color: #1b211f;
  --secondary--color: #e3d7bf;
  --text-color: #c5bbec;
  --transparent-background: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'regular-font', sans-serif;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  line-height: 1.6;

  h1,
  h2,
  h3,
  p {
    font-family: 'regular-font', sans-serif;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  ul {
    list-style: none;
  }

  .primary-text {
    color: var(--primary-color);
  }

  .secondary-text {
    color: var(--secondary--color);
  }

  .section {
    position: relative;
    padding: 0 20px;
  }
}
