#about {
  padding: 40px;
  text-align: center;
  background-color: var(--primary-color);

  p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
  }

  h2 {
    margin: 30px 0;
    color: var(--primary-color);
  }

  .about-section,
  .social-section {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    h1 {
      color: var(--secondary-color);
    }

    p {
      color: var(--text-color);
    }

    a {
      margin: 0 5px;
    }
  }
}
