.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: rgba(55, 100, 145);
  padding: 0 20px;

  .content {
    z-index: 2;

    h1,
    h3 {
      color: white;
      font-weight: 500;
    }

    .btn {
      display: inline-block;
      padding: 10px 30px;
      background: var(--primary-color);
      color: #fff;
      border-radius: 5px;
      border: solid #fff 1px;
      margin-top: 25px;
      opacity: 0.7;

      &:hover {
        transform: scale(0.98);
      }
    }
  }
}
